body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.heading{
    color: black;
    font-size: 30px;
}

/* ===== Header Section Start ======= */
header{   
    background-image: url(Images/header-image1.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 05px;
}
.welcome-text{
    font-size: 60px;
    color: wheat;
    text-align: center;
   
    padding: 10px 30px;
    border-radius: 10px;
    text-shadow: 3px 3px 20px black;
    
}
.text-area{
    text-align: center;
    color: white;
    width: 1000px;
    margin: 0 auto;
    font-size: 25px;
    text-shadow: 1px 1px 30px black;
}

.button{
    text-decoration: none;
    color: white;
    padding: 15px;
    background-color: rgba(220, 20, 60, 0.604);
    border: 3px solid black;
    border-radius: 10px;
    font-variant: small-caps;
    font-weight: bold;
    box-shadow: 1px 1px 10px black;
    margin: 30px;

}
/* ===== Header Section End======= */

/* =============== Main Section Start =========================== */
/*==== Donate Section one Start ==== */
#donate-section-one{
    background-color: rgba(233, 150, 122, 0.372);
    padding: 100px;
}
.contant-area{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 100px;
    box-shadow: 1px 1px 10px  black;
    height: 400px;
    
}
ul li{
    list-style-type: none;
    display: block;
    float: left;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    padding-top: 0px;
}

span{
    border: 5px solid black;
    padding: 15px 10px;
    border-radius: 5px;
    border-color: lightcoral;
    color: black;
}
#custom-donation-field{
    border: none;
    width: 400px;
    height: 20px;
    border-bottom: 4px solid black;
    box-shadow: 1px 1px 20px black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 35px;
}

/*==== Donate Section one End  ==== */

/* ===== Donate Plan Section Start====== */
#donate-plan-section{
    background-color: antiquewhite;
    padding: 100px;
}
#donate-plan-container{
    display: flex;
    padding: 100px;
    margin-left: 125px;
    text-align: center;
}
.text-control{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    line-break:anywhere;
}
.plan-container{
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 2px solid black;
    margin-left: 25px;
    margin-left: 50px;
    box-shadow: 1px 1px 10px  black;
}
#donate-plan-section{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.plan1{
    background-color: rgba(82, 130, 179, 0.379);
}
.plan2{
    background-color: rgba(127, 255, 212, 0.257);
}
.plan3{
    background-color:rgba(233, 150, 122, 0.409);
}

/* ======== Donate plan Section End======== */

/* ========== About Us section start========= */
#About_Us-Section{
    background-color:rgba(127, 255, 212, 0.257);
    padding: 100px;
    height: 500px;
}
#about-us-container{
    box-shadow: 1px 1px 10px  black;;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-break:auto;
}
/* ========== About Us section end=========== */

/* ======== Get Update Section Start ======== */
#get-update-section{
    padding: 100px;
    background-color: rgba(82, 130, 179, 0.379);
   

}
#main-container{
    padding: 40px;
    box-shadow: 1px 1px 10px  black;
    width: 500px;
    margin: 0 auto;
    height: 350px;
    text-align: center;
}
#email-field{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
  
}
/* ========= Get Update Section End ========== */
/* =============== Main Section End ======================= */

/* ===== Footer Section Start ========= */
footer{
    background-color: black;
    color: crimson;
    text-align: center;
    padding: 20px;
}
footer p{
    color: white;
}
/* ===== Footer Section End ============= */


