body{
    margin: 0;
    padding: 0;
}

/* ===== Header Section Start ======= */
header{   
    background-image: url(Images/header-image1.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

h1{
    font-size: 80px;
    color: rgba(175, 250, 12, 0.738);
}

.text-area{
    padding-top: 100px;
    text-align: center;
    color: white;
    width: 1000px;
    margin: 0 auto;
    font-size: 25px;
    text-shadow: 5px 5px 30px black;
}

.button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: palevioletred;
    border: 2px solid white;
    border-radius: 10px;
    font-variant: small-caps;
    font-weight: bold;
}
/* ===== Header Section End======= */

/* ======= Main Section Start =============== */

/*==== Donate Section one Start ==== */

    

.contant-area{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
ul li{
    list-style-type: none;
    display: block;
    float: left;
    margin-left: 50px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.custom-donattion-field{
    outline:none !important;
    border: none !important;
}
span{
    border: 5px solid black;
    padding: 20px 10px;
    border-radius: 5px;
    border-color: lightcoral;
    color: lightcoral;
}
/*==== Donate Section one End  ==== */





/* ======= Main Section End ================= */




/* ===== Footer Section Start ========= */
/* ===== Footer Section End ============= */


